= link_to "Home", root_path
%h1 Blogs
=fa_icon "camera-retro"
%table.table.table-bordered.bg-white.table-responsive
  %thead
    %tr
      %th Title
      %th Body
      %th{:colspan => "3"}
  %tbody
    =render(@blogs)
=paginate @blogs
%br/
= link_to 'New Blog', new_blog_path
