%div.row.text-center
	%div.col-lg-4.offset-4
		%h1 My Portfolio

		= link_to "New Portfolio", new_protfolio_path
		%br
		%br
		= link_to "Angular", protfolios_path(type: "angular")
		&nbsp;&nbsp;&nbsp;
		= link_to "Ruby on Rails", protfolios_path(type: "ror")
=render partial: 'protfolio_item', collection: @protfolio_items